@use '../mixins' as util;

.footer {
  background-color: var(--color-black-light);
  color: var(--color-white);
  padding: 5rem 0;

  a {
    color: var(--color-white);
  }
}

.footer__logo {
  text-align: center;
}

.footer__links {
  text-align: center;
  font-size: util.rem(14);
}
