@use '../mixins' as util;

.header {
  padding: 0.5rem 0;
  background-color: var(--color-accent);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  @extend %container;
  a {
    color: var(--color-white);
  }
}

.header__logo {
  font-size: util.rem(24);
  font-weight: 700;
  letter-spacing: util.rem(2);

  a {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.header__nav {
  display: flex;
  gap: 0.75rem;
  font-size: util.rem(18);
}
