@use '../mixins';

.header {
  padding: 0.5rem 0;
  background-color: var(--color-accent);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  @extend %container;
  a {
    color: var(--color-white);
  }
}

.header__logo {
  font-size: mixins.rem(24);
}

.header__nav {
  display: flex;
  gap: 0.75rem;
  font-size: mixins.rem(18);
}
