@use '../mixins/index' as util;
.btn {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
  border-width: 1px;
  border-style: solid;
  padding: util.rem(6) 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button {
  @extend .btn;
}

.btn-primary {
  background-color: var(--color-accent);

  &:hover,
  &:focus {
    filter: brightness(120%);
  }
}

.btn-secondary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  &:hover,
  &:focus {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }
}

.btn-text {
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--color-black-hover);
  }
}
