:root {
  --color-black: #212529;
  --color-black-light: #2b3035;
  --color-black-hover: #424649;
  --color-white: #ffffff;
  --color-accent: #5a4af4;
  --color-primary: #27a5fc;
  --color-primary-hover: #0383dc;
}
